<div ng-controller="UserController as userCtrl">

	<form ng-submit=userCtrl.validate(userCtrl.user)>

		<div class="container">
			<form class="form-horizontal">
				<div class="form-group">
					<label class="control-label col-sm-2" for="userId"><span class="glyphicon glyphicon-envelope"></span>UserId:</label>
					<div class="col-sm-6">
						<input type="text" ng-model="userCtrl.user.userId" class="form-control" name="userId" id="userId" placeholder="Enter userid">
					</div><br>
				</div>
				<br>
				<div class="form-group">
					<label class="control-label col-sm-2" for="password"><span class="glyphicon glyphicon-lock"></span>Password:</label>
					<div class="col-sm-6">
					
						<input type="password" ng-model="userCtrl.user.password" class="form-control" name="password" id="password" placeholder="Enter password" required>

					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>
				</div>
			</form>
		</div>
	</form>
</div>