<div class="navbar navbar-default navbar-fixed-bottom" style="background-color: #000000;">

	<div class="container">
		<div class="navbar-text pull-left">
			<p>site design: @2017 Manideeppanchiri;</p>
		</div>
		<div class="navbar-text noStyle pull-right">
			<a href="AboutUs">About Us</a> &nbsp &nbsp <a href="https://www.facebook.com/manideep.chinna.1" target="_blank"> <i class="fa fa-facebook fa-2x"></i>
			</a> &nbsp &nbsp <a href="https://twitter.com/manideep_patel" target="_blank"> <i class="fa fa-twitter fa-2x"></i>
			</a> &nbsp &nbsp <a href="https://www.linkedin.com/in/manideep-panchiri-737649140/" target="_blank"> <i class="fa fa-linkedin fa-2x"></i>
			</a> &nbsp &nbsp <a href="https://plus.google.com/" target="_blank"> <i class="fa fa-google-plus fa-2x"></i>
			</a>

		</div>

	</div>
</div>
