	<div ng-controller="BlogController as blogCtrl">
<h2>PostABlog</h2>
	<div class="container">
<div class="card">
  <div class="card-header">
    Post A Blog
  </div>
  <div class="card-block">
   BlogName: <input type="text" ng-model="blogCtrl.blog.blogName" /><br>
   BlogContent: <input type="text" ng-model="blogCtrl.blog.blogContent" /><br>
    <a class="btn btn-info" ng-click="blogCtrl.createBlog(blogCtrl.blog)">Create</a>
  </div>
</div>


			
	<h2 align="center">View Blogs</h2>

	<hr class="style17">
	<div ng-repeat="x in blogs | orderBy : 'blogId' | filter:{status:getBlogsByStatus()}">
	<!-- <div class="card text-center"> -->
		<div class="card">
			<div class="card-header">BlogId:{{x.blogId}}</div>
			<div class="card-block orange">
				<h3 class="card-title">BlogName &nbsp:&nbsp&nbsp{{x.blogName}}</h4>
				<h4 class="card-text">BlogContent &nbsp:&nbsp&nbsp{{x.blogContent}}</h4>
				<p class="card-text">BlogStatus &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp:&nbsp&nbsp{{x.status}}</p>
						
				
			</div>
		</div>
		<!-- </div> -->
	</div>
	</div>
	
<!-- 	{{message}} -->
</div>

</div>
